{{ define "main" }}
<div class="w-full bg-secondary-bg">
    <div class="container mx-auto">
        <div class="max-w-screen-xl">
            <div class="grid grid-cols-9 grid-rows-5 h-screen -mt-16">
                {{ $imgCenter := partial "get_image.html" (dict "context" . "url" .Site.Params.hero.imgCenter)}}
                {{ with $imgCenter }}
                <div class="col-start-2 col-span-4 row-start-2 row-span-2 bg-local bg-cover z-10 shadow-2xl"
                    style="background-image: url({{ . }});"></div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
<div class="container mx-auto ">
    <div class="max-w-screen-xl pt-12 md:px-4 xl:px-8">
        {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ partial "masonry" $pages }}
    </div>
</div>
{{ end }}